@model GigHub.ViewModels.GigDetailsViewModel 
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="gig-details">
    <h2>@Model.ArtistName</h2>
    @if(Model.Following)
    {
        <button class="btn btn-secondary js-follow-artist" data-artist-id="@Model.ArtistId">Stop Following</button>
    }
    else
    {
        <button class="btn btn-primary js-follow-artist" data-artist-id="@Model.ArtistId">Follow</button>
    }
    
    <p>Performing at @Model.Venue on @Model.DateTime.ToString("d MMM") at @Model.DateTime.ToString("HH:mm")</p>

    @if(Model.Attending)
    {
        <p>You are going to this event.</p>
    }

</div>

@section scripts{
    <script>

        $(document).ready(function () {

            $(".js-follow-artist").click(function (e) {
                console.log("clickee");
                let self = $(e.target);
                if (self.text() === "Follow") {
                    console.log("Follow");
                    $.ajax({
                        url: "/api/followers/" + self.attr("data-artist-id"),
                        method: "GET",
                        success: function () {
                            self.removeClass("btn-primary").addClass("btn-secondary").text("Stop Following");
                        },
                        error: function () {
                            alert("An error occurred.");
                        }
                    });
                }
                else if (self.text() !== "Follow") {
                console.log("Unfollow");
                    $.ajax({
                        url: "/api/followers/" + self.attr("data-artist-id"),
                        method: "DELETE",
                        success: function () {
                            self.removeClass("btn-secondary").addClass("btn-primary").text("Follow");
                        },
                        error: function () {
                            alert("An error occurred.");
                        }
                    });
                }
                else {
                    alert("Error resolving target for follow/unfollow action.");
                }
            });
        });
        
        
        
        

    </script>
}

