@model GigHub.ViewModels.GigDetailsViewModel 
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="gig-details">
    <h2>@Model.ArtistName</h2>
    @if(Model.Following)
    {
        <button class="btn btn-secondary js-follow-artist" data-artist-id="@Model.ArtistId">Stop Following</button>
    }
    else
    {
        <button class="btn btn-primary js-follow-artist" data-artist-id="@Model.ArtistId">Follow</button>
    }
    
    <p>Performing at @Model.Venue on @Model.DateTime.ToString("d MMM") at @Model.DateTime.ToString("HH:mm")</p>

    @if(Model.Attending)
    {
        <p>You are going to this event.</p>
    }

</div>

@section scripts{
    <script>

        $(document).ready(function () {

            GigDetailsController.init(".gig-details");

        });
        
    </script>
}

