@model IEnumerable<GigHub.Models.Gig>
@{
    ViewBag.Title = "My Upcoming Gigs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="gigs-calendar">

    <h1>My Upcoming Gigs</h1>

    <ul class="gigs">
        @foreach (var gig in Model)
        {
            <li>
                <div class="date">
                    <div class="month">@gig.DateTime.ToString("MMM")</div>
                    <div class="day">@gig.DateTime.ToString("d ")</div>
                </div>
                <div class="details">
                    <div class="venue">
                        @gig.Venue
                    </div>
                    <span class="genre">
                        @gig.Genre.Name
                    </span>
                    <div class="actions">
                        <a href="@Url.Action("Edit", "Gigs", new { id = gig.Id })">Edit</a>
                        <a href="#" class="js-cancel-gig" data-gig-id="@gig.Id">Cancel</a>
                    </div>
                </div>
            </li>
        }
    </ul>

</div>

@section scripts{
    <script>

        $(document).ready(function () {

            $(".js-cancel-gig").click(function (e) {

                var dialog = bootbox.dialog({
                    title: '',
                    message: "<p>Cancel this gig?</p>",
                    size: 'small',
                    buttons: {
                        yes: {
                            label: "Yes",
                            className: 'btn-danger',
                            callback: function () {
                                let link = $(e.target);
                                $.ajax({
                                    url: "/api/gigs/" + link.attr("data-gig-id"),
                                    method: "DELETE"
                                }).done(function () {
                                    link.closest("li").fadeOut(function () {
                                        $(this).remove()
                                    })
                                })
                                .fail(function () {
                                    bootbox.alert({
                                        message: "An error occurred.",
                                        backdrop: true
                                    });
                                });
                            }
                        },
                        no: {
                            label: "No ",
                            className: 'btn-info',
                            callback: function () {
                                console.log('Custom OK clicked');
                            }
                        }
                    }
                });


            });

        });
        
    </script>
}

@*




*@

