<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            @Html.ActionLink("GigHub", "Index", "Home", new { area = "" }, new { @class = "navbar-brand font-weight-bold" })
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    @*
                    <li class="nav-item">
                        @Html.ActionLink("Home", "Index", "Home", new {area = "" }, new { @class = "nav-link font-weight-bold" } )
                    </li>
                    *@
                    <li class="nav-item">
                        @Html.ActionLink("Add a Gig", "Create", "Gigs", new {area = "" }, new { @class = "nav-link font-weight-bold" } )
                    </li>
                </ul>
            </div>
            @Html.Partial("_LoginPartial")
        </nav>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    
    <script type="text-my-template" id="notifications-template">
        <ul class="notifications-popover">
            <%
                _.each(notifications, function(notification){
                    if(notification.type == 1){ %>
                        <li><span class="artist-name"><%= notification.artist.name %></span> has cancelled the gig at <%= notification.venue %> at <%= notification.dateTime %>.</li>
                    <% }
                    if(notification.type == 2 && notification.venue != notification.originalVenue && notification.dateTime != notification.originalDateTime){ %>
                        <li><span class="artist-name"><%= notification.artist.name %></span> has changed the gig at <%= notification.originalVenue %> at <%= notification.originalDateTime %>.
                            The new event will be held at <%= notification.venue %> at <%= notification.dateTime %>. </li>
                    <% }
                    if(notification.type == 2 && notification.venue != notification.originalVenue && notification.dateTime == notification.originalDateTime){ %>
                        <li><span class="artist-name"><%= notification.artist.name %></span> has changed the gig at <%= notification.originalVenue %> at <%= notification.originalDateTime %>.
                            The event will now be held at <%= notification.venue %>. </li>
                    <% }
                    if(notification.type == 2 && notification.dateTime != notification.originalDateTime && notification.venue == notification.originalVenue){ %>
                        <li><span class="artist-name"><%= notification.artist.name %></span> has changed the gig at <%= notification.originalVenue %> at <%= notification.originalDateTime %>.
                            The event will now be held at <%= notification.dateTime %>. </li>
                    <% }
                    if(notification.type == 3){ %>
                        <li><span class="artist-name"><%= notification.artist.name %></span> has booked a gig at <%= notification.venue %> at <%= notification.dateTime %>.</li>
                    <% }
            
                })
            %>
        </ul>
    </script>
    <script>
        $(document).ready(function () {
            $.getJSON("/api/notifications", function (notifications) {
                console.log(notifications); //TODO: remove this debugging helper
                if (notifications.length > 0) {
                    $(".js-notifications-count")
                        .text(notifications.length)
                        .removeClass("hide")
                        .addClass("animate__animated animate__bounceInDown");
                    $(".notifications").popover({
                        html: true,
                        title: "Notifications",
                        content: function () {
                            var compiled = _.template($("#notifications-template").html());
                            return compiled({ notifications: notifications });
                        },
                        placement: "bottom"
                    });
                }
            });



        });
    </script>
    

</body>
</html>
