@model GigHub.ViewModels.GigsViewModel
@{
    ViewBag.Title = "Home Page";
}

<div class="gigs-calendar">

    <h1>@Model.Heading</h1>

    @using(Html.BeginForm("Search", "Gigs"))
    {
        <div class="form-group">
            <div class="input-group mb-3">
                @Html.TextBoxFor(m => m.SearchTerm, new {id = "749f337300df", @class = "form-control", placeholder = "Search Gigs" })
                <div class="input-group-append">
                    <span class="input-group-text"><i class="fas fa-arrow-right"></i></span>
                </div>
            </div>
        </div>
    }

    <ul class="gigs">
        @foreach (var gig in Model.upcomingGigs)
        {
            <li>
                <div class="date">
                    <div class="month">@gig.DateTime.ToString("MMM")</div>
                    <div class="day">@gig.DateTime.ToString("d ")</div>
                </div>
                <div class="details">
                    <div class="artist">
                        <a href="@Url.Action("Details","Gigs",new {id = gig.Id})">@gig.Artist.Name</a>
                        @if (Model.ShowActions)
                        {
                            <span class="far fa-star js-toggle-follow" data-artist-id="@gig.ArtistId"></span>
                        }
                        @if (gig.IsCancelled)
                        {
                            <span class="control-label label-warning">Cancelled</span>
                        }
                    </div>
                    <span class="genre">@gig.Genre.Name</span>
                    @if (Model.ShowActions && !gig.IsCancelled)
                    {
                        <button class="btn @(Model.Attendances.Contains(gig.Id) ? "btn-info" : "btn-secondary") btn-sm js-toggle-attendance" data-gig-id="@gig.Id">
                            @(Model.Attendances.Contains(gig.Id) ? "Attending" : "Attend")</button>
                    }
                </div>
            </li>
        }
    </ul>
</div>

@section scripts
{

    <script>
        $(document).ready(function () {

            $(".js-toggle-attendance").click(function (e) {
                var button = e.target;
                if ($(button).hasClass("btn-secondary")) {
                    console.log("toggling to attending")
                    $.ajax({
                        url: "/api/attendances/" + button.getAttribute("data-gig-id"),
                        method: "GET",
                        success: function () {
                            $(button).removeClass("btn-secondary")
                                .addClass("btn-info")
                                .text("Attending");
                        },
                        error: function () {
                            alert("An error occurred.");
                        }
                    });
                }
                else if ($(button).hasClass("btn-info")) {
                    console.log("toggling to not attending")
                    $.ajax({
                        url: "/api/attendances/" + button.getAttribute("data-gig-id"),
                        method: "DELETE",
                        success: function () {
                            $(button).removeClass("btn-info")
                                .addClass("btn-secondary")
                                .text("Attend");
                        },
                        error: function () {
                            alert("An error occurred.");
                        }
                    });
                }
                else {
                    Console.log("Error resolving attendance status for toggling attendance.")
                }
            });

            $(".js-toggle-follow").click(function (e) {

                console.log("starclick");
                let el = e.target;
                $.get({
                    url: "/api/followers/" + el.getAttribute("data-artist-id"),
                    success: function () {
                        $(el)
                            .removeClass("far")
                            .addClass("fas");
                    },
                    error: function () {
                        alert("An error occurred.");
                    }
                });
            });
        });

    </script>


}
