@model GigHub.ViewModels.GigsViewModel
@{
    ViewBag.Title = "Home Page";
}

<div class="gigs-calendar">

    <h1>@Model.Heading</h1>

    @using(Html.BeginForm("Search", "Gigs"))
    {
        <div class="form-group">
            <div class="input-group mb-3">
                @Html.TextBoxFor(m => m.SearchTerm, new {id = "749f337300df", @class = "form-control", placeholder = "Search Gigs" })
                <div class="input-group-append">
                    <span class="input-group-text"><i class="fas fa-arrow-right"></i></span>
                </div>
            </div>
        </div>
    }

    <ul class="gigs">
        @foreach (var gig in Model.upcomingGigs)
        {
            <li>
                <div class="date">
                    <div class="month">@gig.DateTime.ToString("MMM")</div>
                    <div class="day">@gig.DateTime.ToString("d ")</div>
                </div>
                <div class="details">
                    <div class="artist">
                        @Html.ActionLink(@gig.Artist.Name,"Details","Gigs",new {id = gig.Id}, new { })
                    @if (Model.ShowActions)
                    {
                        <span class="far fa-star js-toggle-follow" data-artist-id="@gig.ArtistId"></span>
                    }
                    @if (gig.IsCancelled)
                    {
                        <span class="control-label label-warning">Cancelled</span>
                    }
                </div>
                <span class="genre">@gig.Genre.Name</span>
                @if (Model.ShowActions && !gig.IsCancelled)
                {
                    <button class="btn btn-secondary btn-sm js-toggle-attendance" data-gig-id="@gig.Id">Attend</button>
                }
            </div>
        </li>
    }
    </ul>
</div>

@section scripts
{

    <script>
        $(document).ready(function () {

            $(".js-toggle-attendance").click(function (e) {
                var button = e.target;
                $.get({
                    url: "/api/attendances/" + button.getAttribute("data-gig-id"),
                    success: function () {
                        $(button).removeClass("btn-default")
                            .addClass("btn-info")
                            .text("Attending");
                    },
                    error: function () {
                        alert("An error occurred.");
                    }
                });
            });

            $(".js-toggle-follow").click(function (e) {

                console.log("starclick");
                let el = e.target;
                console.log(el);
                $.get({
                    url: "api/followers/" + el.getAttribute("data-artist-id"),
                    success: function () {
                        $(el)
                            .removeClass("far")
                            .addClass("fas");
                    },
                    error: function () {
                        alert("An error occurred.");
                    }
                });
            });
        });

    </script>


}
