@model GigHub.ViewModels.GigsViewModel
@{
    ViewBag.Title = "Home Page";
}

<div class="gigs-calendar">

    <h1>@Model.Heading</h1>

    @using(Html.BeginForm("Search", "Gigs"))
    {
        <div class="form-group">
            <div class="input-group mb-3">
                @Html.TextBoxFor(m => m.SearchTerm, new {id = "749f337300df", @class = "form-control", placeholder = "Search Gigs" })
                <div class="input-group-append">
                    <span class="input-group-text"><i class="fas fa-arrow-right"></i></span>
                </div>
            </div>
        </div>
    }

    <ul id="df8e06f3d7eb" class="gigs">
        @foreach (var gig in Model.upcomingGigs)
        {
            <li>
                <div class="date">
                    <div class="month">@gig.DateTime.ToString("MMM")</div>
                    <div class="day">@gig.DateTime.ToString("d ")</div>
                </div>
                <div class="details">
                    <div class="artist">
                        <a href="@Url.Action("Details","Gigs",new {id = gig.Id})">@gig.Artist.Name</a>
                        @if (Model.ShowActions)
                        {
                            <span class="far fa-star js-toggle-follow" data-artist-id="@gig.ArtistId"></span>
                        }
                        @if (gig.IsCancelled)
                        {
                            <span class="control-label label-warning">Cancelled</span>
                        }
                    </div>
                    <span class="genre">@gig.Genre.Name</span>
                    @if (Model.ShowActions && !gig.IsCancelled)
                    {
                        <button 
                            class="btn @(Model.Attendances.Contains(gig.Id) ? "btn-info" : "btn-secondary") btn-sm js-toggle-attendance"
                            data-gig-id="@gig.Id"
                            >@(Model.Attendances.Contains(gig.Id) ? "Attending" : "Attend")</button>
                    }
                </div>
            </li>
        }
    </ul>
</div>

@section scripts
{

    <script>
        $(document).ready(function () {

            GigsController.init("#df8e06f3d7eb");

            $(".js-toggle-follow").click(function (e) {

                console.log("starclick");
                let el = e.target;
                $.get({
                    url: "/api/followers/" + el.getAttribute("data-artist-id"),
                    success: function () {
                        $(el)
                            .removeClass("far")
                            .addClass("fas");
                    },
                    error: function () {
                        alert("An error occurred.");
                    }
                });
            });
        });

    </script>


}
