@model GigHub.ViewModels.GigsViewModel
@{
    ViewBag.Title = "Home Page";
}

<div class="gigs-calendar">

    <h1>@Model.Heading</h1>

    @using(Html.BeginForm("Search", "Gigs"))
    {
        <div class="form-group">
            <div class="input-group mb-3">
                @Html.TextBoxFor(m => m.SearchTerm, new {id = "749f337300df", @class = "form-control", placeholder = "Search Gigs" })
                <div class="input-group-append">
                    <span class="input-group-text"><i class="fas fa-arrow-right"></i></span>
                </div>
            </div>
        </div>
    }

    <ul id="gigs-calendar-container" class="gigs">
        @foreach (var gig in Model.upcomingGigs)
        {
            <li>
                <div class="date">
                    <div class="month">@gig.DateTime.ToString("MMM")</div>
                    <div class="day">@gig.DateTime.ToString("d ")</div>
                </div>
                <div class="details">
                    <div class="artist">
                        <a href="@Url.Action("Details","Gigs",new {id = gig.Id})">@gig.Artist.Name</a>
                        @if (Model.ShowActions)
                        {
                            <a class="follow" data-artist-id="@gig.ArtistId" href="#">@(@Model.Followings.Contains(gig.ArtistId) ? "following" : "follow")</a>
                        }
                        @if (gig.IsCancelled)
                        {
                            <span class="control-label label-warning">Cancelled</span>
                        }
                    </div>
                    <span class="genre">@gig.Genre.Name</span>
                    @if (Model.ShowActions && !gig.IsCancelled)
                    {
                        <button 
                            class="btn @(Model.Attendances.Contains(gig.Id) ? "btn-info" : "btn-secondary") btn-sm js-toggle-attendance"
                            data-gig-id="@gig.Id"
                            >@(Model.Attendances.Contains(gig.Id) ? "Attending" : "Attend")</button>
                    }
                </div>
            </li>
        }
    </ul>
</div>

@section scripts
{

    <script>
        $(document).ready(function () {

            GigsController.init("#gigs-calendar-container");

            $("#gigs-calendar-container").click(function (e) {
                if ($(e.target).hasClass("follow")) {
                    e.preventDefault();
                    let el = $(e.target);
                    if (el.text() == "follow") {
                        console.log("Follow");
                        $.ajax({
                            url: "/api/followers/" + el.attr("data-artist-id"),
                            method: "GET",
                            success: function () {
                                $(el).text("following")
                            },
                            error: function () {
                                alert("An error occurred.");
                            }
                        });
                    }
                    else if (el.text() == "following") {
                    console.log("Unfollow");
                        $.ajax({
                            url: "/api/followers/" + el.attr("data-artist-id"),
                            method: "DELETE",
                            success: function () {
                                $(el).text("follow")
                            },
                            error: function () {
                                alert("An error occurred.");
                            }
                        });
                    }
                    else {
                        alert("Error resolving target for follow/unfollow action.");
                    }
                }
            });
        });

    </script>


}
